* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Work Sans, sans-serif;
    text-transform: capitalize;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.header {
    text-align: center;
}

.content {
    position: relative;
    height: 650px;
    margin: 50px 0;
}

p {
    color: #a6adb6;
    margin-top: 20px;
}

.content .Circle {
    background-image: url(../img/server2.jpg);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

.content .Circle .overbak {
    width: 100%;
    background-color: #0000008f;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    align-items: center;
}

.content .Circle .overbak p {
    width: 60%;
}

.content>div {
    position: absolute;
    width: 445px;
    display: flex;
}

.content .top-left {
    top: 30px;
    left: 200px;
    text-align: end;
}

.content .top-right {
    top: 30px;
    right: 200px;
    flex-direction: row-reverse;
}

.content .buttom-left {
    bottom: 30px;
    left: 200px;
    text-align: end;
}


.content .buttom-right {
    bottom: 30px;
    right: 200px;
    flex-direction: row-reverse;
}

.content div div {
    margin: 0 20px;
}